<p>
    <ngb-progressbar type="success" [value]="percent" [striped]="true" [animated]="true"><i>{{percent}}%</i>
    </ngb-progressbar>
</p>
<div class="btn-group">
    <button type="button" class="btn btn-primary fa fa-play" [disabled]="isPlay||noVideo" (click)="play(); ">

    </button>
    <button type="button" class="btn btn-primary fa fa-pause" [disabled]="!isPlay||noVideo" (click)="pause(); ">

    </button>
    <button type="button" class="btn btn-primary fa fa-plus" [disabled]="noVideo" (click)="plus(); ">

    </button>
    <button type="button" class="btn btn-primary fa fa-minus" [disabled]="noVideo" (click)="minus(); ">

    </button>
    <button type="button" class="btn btn-primary fa fa-refresh" [disabled]="noVideo" (click)="refresh(); ">

    </button>
    <button type="button" [class]="isMuted?'btn btn-primary fa fa-volume-off':'btn btn-primary fa fa-volume-up'" [disabled]="noVideo" (click)="muted(); ">

    </button>
    <button type="button" class="btn btn-primary fa fa-thumbs-up" [disabled]="noVideo" (click)="thumbsUp(); ">
        {{video.likes}}
    </button>
    <button type="button" class="btn btn-primary fa fa-thumbs-down" [disabled]="noVideo" (click)="thumbsDown(); ">
        {{video.unlikes}}
    </button>
</div>