<div class="btn-group">
    <button type="button" class="btn btn-primary" (click)="play(); ">
        play
    </button>
    <button type="button" class="btn btn-primary" (click)="pause(); ">
        pause
    </button>
    <button type="button" class="btn btn-primary" (click)="plus(); ">
        plus
    </button>
    <button type="button" class="btn btn-primary" (click)="minus(); ">
        minus
    </button>
    <button type="button" class="btn btn-primary" (click)="refresh(); ">
        refresh
    </button>
    <button type="button" class="btn btn-primary" (click)="muted(); ">
        muted
    </button>
    <button type="button" class="btn btn-primary" (click)="thumbsUp(); ">
        thumbs up
    </button>
    <button type="button" class="btn btn-primary" (click)="thumbsDown(); ">
        thumbs down
    </button>
</div>